extends layout

block content
    div.signup-form
        .logo-box
            .logo My Achievements
            .catchpharse 与师姐分享你的知识、经验和见解。
        .container-main
            .form-item
                span 用户名:

            .form-item
                span 学号:

            .form-item
                span 手机:

            .form-item
                span 邮箱:

            .form-item
                a#submit-logout.form-control.btn(href='#') 退出登录

