extends layout

block content
    div.signup-form
        .logo-box
            .logo My Achievements
            .catchpharse 与师姐分享你的知识、经验和见解。
        .container-main
            each value, key in userInfo
                .form-item.detail-control
                    span.key #{key}
                    span.value.center-content #{value}

            .form-item
                a#submit-logout.form-control.btn(href='#') 退出登录