doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src='/lib/jquery.js')
        script(src='/lib/lodash.min.js')
        block other
    body
        div#background-slideshow
            .slide
                .wallpaper
        block content
        div#footer
            .footer-item
                a ©Zhiyu He

            .footer-item
                a 15331097
