doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        div#background-slideshow
            .slide
                .wallpaper
        block content
        div#footer
            .footer-item
                a ©Zhiyu He

            .footer-item
                a 15331097

        div.global-message.center-content
            div.message-cover.center-content

        script(src='/lib/jquery.js')
        script(src='/lib/lodash.js')
        script(src='/js/message.js')
        block other