extends layout

block content
    div#background-slideshow
        .slide
            .wallpaper
    div.signup-form
        .logo-box
            .logo My Achievements
            .catchpharse 与师姐分享你的知识、经验和见解。
        .container-login
            form(action='/login', method='post')
                .form-item
                    label(for='login-username') 用户名
                    input.form-control#login-username(type='text', name='username', placeholder='用户名')

                .form-item
                    label(for='login-password') 密码
                    input.form-control#login-password(type='password', name='password', placeholder='密码')
                    if error && error.position == 'pwd'
                        .error #{error.message}

                .form-item
                    a#submit.form-control.btn(href='#') 登录

                .form-item.quick-registry 没有账号？
                        a(href='#') 立即注册
    div#footer
        .footer-item
            a ©Zhiyu He

        .footer-item
            a 15331097
